<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/css/app.css") %>"></link>
  </head>
  <body class="bg-black font-mono text-white">
    <div id="app" class="p-2">
      <div id="header">
        <div class="flex">
          <div class="flex-1">
          </div>
          <div class="text-center mr-4">
            <div class="flex flex-col">
              <div>
                <button class="text-white" v-on:click="move(0, 1)">↑ </button>
              </div>
              <div class="flex flex-row">
                <button class="text-white" v-on:click="move(-1, 0)">←</button>
                <div class="m-2 border border-white minimap">
                  <div class="box" v-for="nearbyRoom in nearbyRooms">
                    <span :class="nearbyRoom"></span>
                  </div>
                </div>
                <button class="text-white" v-on:click="move(1, 0)">→</button>
              </div>
              <div>
                <button class="text-white" v-on:click="move(0, -1)">↓</button>
              </div>
            </div>
            <div class="text-grey-lighter py-2">
              {{currentRoom}}
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
      <div id="content" :key="currentRoom">
        <div class="pt-2 fade" v-if="rooms[currentRoom]">
          <p class="font-bold py-2" v-if="rooms[currentRoom].title">{{rooms[currentRoom].title}}</p>
          <p class="font-bold py-2" v-else>this room is claimed by {{rooms[currentRoom].user.name}}</p>
          <p>{{rooms[currentRoom].description}}</p>
        </div>
        <div class="pt-2 fade" v-else>
          <p class="font-bold py-2">{{position.x}},{{position.y}} is unclaimed</p>
          <p>You can claim the room using /claim</p>
        </div>
        <div class="pt-8 pb-4" id="messages">
          <ul class="list-reset">
            <li class="fade" v-for="message in messages" :key="message.id">
              {{new Date(Date.parse(message.posted)).toLocaleTimeString()}}
              <span class="font-bold">{{message.user.name}}</span> {{message.text}}
            </li>
          </ul>
        </div>
      </div>
      <div class="flex fixed pin-b pin-x" id="chatbox">
        <input class="flex-1" v-model="input" v-on:keyup.enter="submit" :placeholder="'Logged in as ' + username + '. Say hi, or change your username with /username xyz!'"></input>
      </div>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
